<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        <%- include('layouts/navbar_bg'); -%>
        <!-- about -->
        <section class="page-section">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">What is AlzKB?</h2>
                <hr class="divider" />

                <p>AlzKB is a knowledge base summarizing what is known about Alzheimer's Disease drugs, genes, pathways, and other biological entities. 
                The knowledge base is implemented as a <b>graph database</b> (using Neo4j), which offers many distinct advantages over traditional relational 
                databases and non-graph formatted representations of biomedical knowledge. As of August 2nd 2023, ALZKB is at version 1.1.0, and its github repo is found at: <a href="https://github.com/EpistasisLab/AlzKB">ALZKB Github</a></p>
                
                <p>The knowledge in AlzKB is sourced from a large set of diverse,
                publicly available biomedical databases. Currently, AlzKB includes
                data from the following sources:</p>
                
                <ul>
                <li><a target="_blank" href="https://www.epa.gov/healthresearch/adverse-outcome-pathway-database-aop-db">AOP-DB (Adverse Outcome Pathway Database)</a></li>
                <li><a target="_blank" href="https://bgee.org/">Bgee</a><sup>*</sup></li>
                <li><a target="_blank" href="https://disease-ontology.org/">Disease Ontology</a><sup>*</sup></li>
                <li><a target="_blank" href="https://www.disgenet.org/">DisGeNET</a></li>
                <li><a target="_blank" href="https://www.drugbank.com/">Drugbank</a></li>
                <li><a target="_blank" href="https://comptox.epa.gov/dashboard/">EPA Computational Toxicology databases (DSSTox/AcTOR)</a></li>
                <li><a target="_blank" href="http://geneontology.org/">Gene Ontology</a><sup>*</sup></li>
                <li><a target="_blank" href="https://www.ebi.ac.uk/gwas/">GWAS Catalog</a><sup>*</sup></li>
                <li><a target="_blank" href="https://het.io/">Hetionet</a></li>
                <li><a target="_blank" href="http://www.interactome-atlas.org/">Human Reference Protein Interactome Mapping Project</a><sup>*</sup></li>
                <li><a target="_blank" href="https://lincsproject.org/LINCS/">LINCS L1000</a><sup>*</sup></li>
                <li><a target="_blank" href="https://www.nlm.nih.gov/mesh/meshhome.html">MeSH (NCBI Medical Subject Headings)</a><sup>*</sup></li>
                <li><a target="_blank" href="https://www.ncbi.nlm.nih.gov/gene">NCBI Gene (Entrez Gene)</a></li>
                <li><a target="_blank" href="https://github.com/NCIP/pathway-interaction-database">Pathway Interaction Database</a><sup>*</sup></li>
                <li><a target="_blank" href="https://figshare.com/articles/dataset/PharmacotherapyDB_1_0_the_open_catalog_of_drug_therapies_for_disease/3103054">PharmacotherapyDB</a><sup>*</sup></li>
                <li><a target="_blank" href="https://pubchem.ncbi.nlm.nih.gov/">PubChem</a></li>
                <li><a target="_blank" href="https://reactome.org/">Reactome</a><sup>*</sup></li>
                <li><a target="_blank" href="http://sideeffects.embl.de/">SIDER</a><sup>*</sup></li>
                <li><a target="_blank" href="https://tissues.jensenlab.org/About">TISSUES</a><sup>*</sup></li>
                <li><a target="_blank" href="https://www.ebi.ac.uk/ols/ontologies/uberon">Uberon</a><sup>*</sup></li>
                <li><a target="_blank" href="https://www.wikipathways.org/index.php/WikiPathways">WikiPathways</a><sup>*</sup></li>
                </ul>
                <sup>*</sup>included via <a target="_blank" href="https://het.io/">Hetionet</a>
            </div>
        </section>
        <%- include('layouts/footer'); %>
        <%- include('layouts/scripts'); %>
    </body>
</html>
