<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        <%- include('layouts/navbar_bg'); -%>
        <!-- <%- include('layouts/doc_sidebar'); -%> -->
        <section class="page-section doc-container" id="docs">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-book fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Neo4j Documentation</h3>
                            <p class="text-muted mb-0">Learn about Neo4j</p>
                            <a href="https://neo4j.com/docs/" class="btn btn-primary">Get Started</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-terminal fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Neo4j Browser</h3>
                            <p class="text-muted mb-0">Learn about the Neo4j Browser</p>
                            <a href="https://neo4j.com/docs/browser-manual/current/" class="btn btn-primary">Get Started</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-cpu fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Cypher Guide</h3>
                            <p class="text-muted mb-0">Learn about the Cypher graph query language</p>
                            <a href="https://neo4j.com/docs/cypher-manual/current/" class="btn btn-primary">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('layouts/scripts'); %>
    </body>
</html>